.rectangle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.motus{
  margin: 20px 0;
  font-size: 40px;
  background-color: white;
  border:none;
  font-size: 25px;
  color:rgb(131, 131, 230);
  cursor: pointer;
  text-align: center; 
}

.upperStuff {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
}

.rectangle .item {
  margin: 20px 0;
  font-size: 22px;
  background-color: white; 
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: center; 
  transition: background-color 0.3s, color 0.3s; 
}

.rectangle .item:hover {
  background-color: blue;
  color: white; 
}

.lowerStuff {
  margin-bottom: 20px;
}

.blueButton {
  width: 200px;
  background-color: blue;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blueButton-text {
  margin-top: 20px;
  text-align: center;
}

.orangeButton {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
}